p {
  margin-bottom: 0;
}

h1,h2,h4,h5,h6, {
  margin-bottom: 5px;
}


a:hover {
  border-top: 3px solid #F0E48E;
  color: #54777D !important;
  transition: all .03s;
}

.l-nav {
    height: 22px;
    ul {
        list-style: none;
        li {
            margin-right: 12px;
            a {
                text-decoration: none;
                color: #000;

                &:hover {

                }
            }
        }
    }
}

.l-main {
  padding: 33px 0;

  .avatar {
    width: 100%;
    max-width: 230px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  h5 {
    border-bottom: 1px solid #999;
  }
}

.about-me {
  p {
    padding-top: 5px;
    text-align: justify;
  }


}
.name {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF3A7;
  margin: 0;
}
