p {
  margin-bottom: 0; }

h1,
h2,
h4,
h5,
h6 {
  margin-bottom: 5px; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    border-top: 3px solid #000;
    color: #54777D !important;
    transition: all 0.03s;
    background-color: #FFF3A7; }

.l-nav {
  height: 22px; }
  .l-nav ul {
    list-style: none; }
    .l-nav ul li {
      margin-right: 12px; }
      .l-nav ul li a {
        text-decoration: none;
        color: #000;
        padding: 0 5px; }

.l-main {
  padding: 33px 0; }
  .l-main .avatar {
    width: 100%;
    max-width: 230px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px; }
  .l-main h5 {
    border-bottom: 1px solid #999; }
  .l-main .main-wrapper {
    display: flex; }
    .l-main .main-wrapper .left {
      order: 1; }
      @media screen and (max-width: 500px) {
        .l-main .main-wrapper .left {
          order: 2; } }
    .l-main .main-wrapper .right {
      order: 2; }
      @media screen and (max-width: 500px) {
        .l-main .main-wrapper .right {
          order: 1; } }

.about-me {
  margin-bottom: 20px; }
  .about-me p {
    padding-top: 5px;
    text-align: justify; }

.name {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF3A7;
  margin: 0; }
